.page-header
  %h1 Statuses

%p
  Something about statuses...

%p
  = link_to 'Add a new status', new_status_path, class: 'btn btn-primary'

%table.table.table-striped.margin-top
  %tr
    %th Main Status
    %th Secondary Status
    %th

  - @statuses.each do |status|
    %tr
      %td= status.main
      %td= status.secondary
      %td
        = link_to 'Edit', edit_status_path(status)
        &middot;
        = link_to 'Destroy', status, confirm: 'Are you sure?', method: :delete
