.page-header
  %h1 Users

%p
  = link_to 'Add a new user', new_user_path

%table.table.table-striped
  %tr
    %th Full Name
    %th Login ID
    %th

  - @users.each do |user|
    %tr
      %td= user.name
      %td= user.login
      %td
        = link_to 'Edit', edit_user_path(user)
        &middot;
        = link_to 'Delete', user, :confirm => 'Are you sure?', :method => :delete

