.page-header
  %h1 Candidates

= link_to 'New Candidate', new_candidate_path

%table.table.table-striped
  %tr
    %th Name
    %th Intake date
    %th Followup date
    %th Comments
    %th User
    %th Source
    %th Status
    %th

  - @candidates.each do |candidate|
    %tr
      %td= candidate.name
      %td= candidate.intake_date
      %td= candidate.followup_date
      %td= candidate.comments
      %td= candidate.user
      %td= candidate.source
      %td= candidate.status
      %td
        = link_to 'Show', candidate
        &middot;
        = link_to 'Edit', edit_candidate_path(candidate)
        &middot;
        = link_to 'Destroy', candidate, :confirm => 'Are you sure?', :method => :delete

